<div class="card mt-4">
    
    <div class="card-body">
       
        <div class="row">
           
            <div class="col-md-3">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">
                            Products Quantity
                        </h5>
                        <p class="card-text text-white font-weight-bold display-6">1000</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title">
                           Stock Cost
                        </h5>
                        <p class="card-text text-white font-weight-bold display-6">100000</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title">
                            Stock Value
                        </h5>
                        <p class="card-text text-white font-weight-bold display-6">600000</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">
                            Stock Profit
                        </h5>
                        <p class="card-text text-white font-weight-bold display-6">800000</p>
                    </div>
                </div>
                
            </div>
            
            
            
        </div>
        
    </div>
    
</div>